{% extends "base.html" %}
{% load static %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
  <div class="col">
    <h1>Formulario login</h1>
    <!-- formulario -->
    <form method="post">{% csrf_token %}
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
{% endblock content %}
